:root {
  --white:#ffffff;
  --black:#000000;
  --light:#e8e6e1;
  --warning:#cb9a7d;
  --tertiary:#050300;
  --success:#648072;
  --dark:#3b2a33;
  --secondary: #c9bab1;
}

$colors: white,black,light,warning,tertiary,success,dark,secondary;


@each $color in $colors {

  .theme-text-#{$color} {
    color: var(--#{$color});
  }
  
  .theme-bg-#{$color} {
    background-color: var(--#{$color});
  }
}

// $sizes: 40px, 50px, 80px;

// @each $size in $sizes {
//   .icon-#{$size} {
//     font-size: $size;
//     height: $size;
//     width: $size;
//   }
// }
